body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #6f42c1, #007bff);
  background-size: 300% 300%;
  animation: aurora 18s ease infinite;
  background-attachment: fixed;
  overflow-x: hidden;
}

